@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf"),
    url("../assets/fonts/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../assets/fonts/Poppins-ExtraBoldItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Poppins Semi-Bold";
  src: url("../assets/fonts/Poppins-Bold.ttf");
}
:root {
  --purple: hsl(259, 100%, 65%);
  --light-grey: hsl(0, 0%, 86%);
  --smoke-grey: hsl(0, 1%, 44%);
}
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 94%);
  padding: 10px;
}

.container {
  background: white;
  max-width: 650px;

  padding: 1.5rem;
  border-radius: 10px 10px 150px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: space-between;
  gap: 0.6em;
  width: 70%;
}
.form-controls {
  width: 25%;
}
input {
  height: 30px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--light-grey);
  font-family: "Poppins Semi-Bold", "Arial";
  font-weight: 900;
  font-size: 1.2rem;
  text-align: left;
  padding: 0.6rem;
}

.results {
  font-size: 3rem;
}

.answer {
  color: var(--purple);
}

.results h2 {
  margin: 0;
  font-weight: 900;
  color: black;
  font-family: "Poppins Bold";
}

.label {
  color: gray;
  font-weight: 800;
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
  text-transform: uppercase;
}
